html{
    background-color: beige;
}

body{
    text-align: center;
}
#form{
    margin: auto;
    width: 20%;
}
#carDisplay{
    width: 50%;
    margin: auto;
    text-align: center;
}
#carDisplay table{
    text-align:center;
    margin: auto;
}
#carDisplay table img{
    width: 275px;
    height: 150px;
}