body{
    background-color: #d3d3d3;
}

nav{
    text-align: center;
    display: block;
    background-color: #333;
    border-radius: 10px;
    margin: auto;
    width: 700px;
    margin-top: 25px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
nav li{
    float:left;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover, .dropdown:hover .dropbtn{
    background-color: #111;
}
